html,
body {
    width:100%;
    height: 100%;
    background-color: rgba(226, 206, 175, 0.548); 
}
html{
    background-color: rgba(226, 206, 175, 0.548);

}

.header {
    background-color: rgb(199, 159, 122);
    height: 2em;
    font-size: 250%;
    text-align: center;
    padding-right: 30px;
    padding-top: 10px;
    border-bottom:  4px solid  rgb(82, 67, 40);
}
.header>span{
    padding: 10px;
}
.header :link{
    color: rgb(82, 67, 40);
}
.header :visited{
    color: rgb(82, 67, 40);
}




.wrap {
    min-height: 100%;
}





.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

@media (max-width: 1000px) {
    .header {
        font-size: 180%;
    }


}



